.custom-autocomplete:focus-within {
    outline: 1px solid #A6A6A6 !important;
}

.custom-autocomplete {
    display: flex !important;
    flex-direction: row !important;
    box-sizing: border-box !important;
    align-items: center !important;
    border: 1px solid !important;
    height: 32px;
    border-color: #A6A6A6 !important;
    border-radius: 8px;
    padding: 0 10px !important;
    width: 500px !important;
}

.list-item {
    padding: 5px 15px !important;
    background-color: #fff !important;
    -webkit-box-pack: start !important;
    -webkit-box-align: center !important;
    min-height: 33px;
}

.messageHeading {
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 30px !important;
    letter-spacing: 0em !important;
    text-align: center !important;
    color: #A6A6A6 !important
}

.messageSubheading {
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    letter-spacing: 0em;
    text-align: center;
    color: #A6A6A6
}

.searchoffIconStyle {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 65px !important;
    align-items: center;
    justify-content: center
}

.cardDivstyle {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    margin: 0 0 0 0
}